/resources/public/js
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/shadow-cljs.edn
/package.json
/package-lock.json
/node_modules/
/.shadow-cljs/
